body {
  color: white;
  background-color: black;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}
.inputField {
  color: white;
  background-color: transparent;
  font-size: 1rem;
  padding: 0.3rem 0.2rem;
}

input[type="radio"] {
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid silver;
  border-radius: 0;
  outline: none;
  position: relative;
}

input[type="radio"]:checked:before {
  content: "\2714";
  display: block;
  position: absolute;
  top: -24px;
  left: -3px;
  font-size: 40px;
  color: steelblue;
}

.NavBar {
  padding: 1rem;
  box-shadow: 0px 0px 20px rgb(186, 186, 187);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.AppName {
  font-weight: 600;
  font-size: 2rem;
  display: inline-flex;
}
.NavBarButtonContainer {
  display: flex;
  gap: 0.2rem;
}
.NavBarButton {
  color: white;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 0.2rem;
}
.NavBarButton:hover {
  color: grey;
}
.QuizzesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  gap: 2rem;
}
.QuizListContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1rem 0rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(186, 186, 187);
}
.QuizListTitleContainer {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid;
  margin-bottom: 1rem;
}
.QuizListTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0rem 1rem 0.2rem 1rem;
}

.QuizListNum {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0rem 1rem;
  display: flex;
  justify-content: center;
}
.QuizContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.QuestionContainer {
  min-height: 40vh;
  margin: 2rem;
  padding: 1rem;
  border-radius: 20px;
  max-width: 600px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 0px 20px rgb(186, 186, 187);
}

.QuizStartTitle {
  font-size: 2rem;
  font-weight: 600;
}
.QuizStartNumber {
  margin: 2rem 0rem;
  font-size: 1.2rem;
}
.Num {
  font-weight: 800;
  font-size: larger;
}
.QuizButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
.StartButton {
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  background-color: transparent;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  border: 2px solid silver;
}
.QuestionOnOff {
  text-align: end;
}
.QuizSummaryStats {
  margin-left: 1.5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}
.ReviewAnswerCorrect {
  background-color: green;
}
.ReviewAnswerUser {
  border: 2px solid silver;
}
.AnswersContainer {
  gap: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.AnswerContainer {
  gap: 1.5rem;
  padding: 0.3rem;
  display: flex;
  align-items: center;
}
.querryInputsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem;
}
.inputLabelcontainer {
  display: grid;
  gap: 1rem;
}
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
