.Counter {
  display: flex;
  align-items: center;
  gap: 5vw;

  &--Button {
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 0;
    &:hover {
      cursor: pointer;
    }
  }

  &--Value {
    font-size: xx-large;
    font-weight: bold;
  }
}
