.Education {
  display: flex;
  flex-direction: column;
  font-size: 6vw;
  border: 2px solid silver;
  text-align: center;
  border-radius: 50px;
  background-color: rgba($color: #000000, $alpha: 0.5);
  box-shadow: 0 0 100px rgb(0, 224, 176);
  margin: 0 10vw;
  padding: 5vh 5vw;
  gap: 5vh;

  &-list {
    font-size: 2.5vw;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin: 0;
    &-item {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      &--head {
        font-weight: bold;
      }
      &--body {
        font-size: 25px;
        line-height: 1.5;
      }
    }
  }
}
