.Skills {
  background-color: rgba(#0000, 0.3);
  box-shadow: 0 0 100px rgb(0, 224, 176);
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
  &-Header {
    font-size: 75px;
  }

  &-windows {
    display: flex;
    flex-wrap: wrap;
    gap: 3vh 2vw;
    justify-content: center;
    &-container {
      flex: 0 1 40%;
      max-width: 550px;
      &-item {
        background-color: rgba(blue, 0.2);
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 20px;
        border: 2px solid silver;
        border-radius: 50px;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);

        &--head {
          padding: 15px 0;
          font-size: 25px;
          font-weight: bold;
          text-align: center;
          border-bottom: 2px solid silver;
        }
        &--body {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
          padding: 0 10px 25px;
        }
      }
    }
  }
  &-list {
    line-height: 2;
    font-size: 25px;
  }
}
