@use './BacgroundAnimation.scss';
@use './components/AboutMe.scss';
@use './components/NavBar.scss';
@use './components/Education.scss';
@use './components/Skills.scss';
@use './components/Projects.scss';

body {
  margin: 0;
  background: radial-gradient(
    circle at top,
    rgb(7, 0, 24) 45%,
    rgb(3, 104, 62) 100%
  );
  background-attachment: fixed;
  background-color: black;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

section {
  padding: 15vh 0;
}

.technology {
  display: flex;
  padding: 5px 30px;
  align-items: center;
  gap: 20px;
  border: 2px solid silver;
  border-radius: 20px;
  &--img {
    width: 25px;
    height: 25px;
    display: flex;
    & img {
      width: 100%;
      object-fit: contain;
    }
  }
  &--name {
    font-size: 16px;
    white-space: nowrap;
  }
}

.slideOut {
  transform: translateY(50%);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.slideIn {
  opacity: 1;
  transform: translateY(0);
}
